.Flex {
    display: flex;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

.xsGap {
    gap: 4px;
}

.sGap {
    gap: 8px;
}

.lGap {
    gap: 16px;
}

.xlGap {
    gap: 32px;
}

.max {
    width: 100%;
}