// .ArticleDetails {
// min-height: 100%;
// }

.avatar {
    margin: 0 auto;
}

.avatarWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-color)
}
