.app.dark {
    --bg-color: #000050;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #3f8f3f;
    --secondary-color: #003500;
    --inverted-primary-color: #020074;
    --inverted-secondary-color: #264bf0;
}