body .dark {
    --bg-color: #000050;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #3f8f3f;
    --secondary-color: #003500;
    --inverted-primary-color: #020074;
    --inverted-secondary-color: #264bf0;
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
    --code-bg: #1212a1;
    --card-bg: #0d0d6b;
    --listbox-bg: #0d0d6b;
}

body .modal.dark {
    --modal-bg-color: #000050;
    --modal-primary-color: #3f8f3f;
    --modal-input-border: #e8e8ea;
}