body .light_blue {
    --bg-color: #F4F4FB;
    --inverted-bg-color: #5e69ee;
    --primary-color: #39AFEA;
    --secondary-color: #2d8bb9;
    --inverted-primary-color: #F4F4FB;
    --inverted-secondary-color: #dfdfdf;
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --code-bg: #fff;
}

body .modal.light_blue{
    --modal-bg-color:  #F4F4FB;
    --modal-primary-color:  #5e69ee;
    --modal-input-border: #39AFEA;
}