body .light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #000050;
    --primary-color: #020074;
    --secondary-color: #264bf0;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #d1d9fc;
}

body .modal.light {
    --modal-bg-color: #e8e8ea;
    --modal-primary-color: #020074;
    --modal-input-border: #000050;
}