.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #000050;

    --primary-color: #020074;
    --secondary-color: #264bf0;
    --inverted-primary-color: #ffffff;
    --inverted-secondary-color: #d1d9fc;
}