.Icon {
    fill: var(--primary-color)
}

.size_s {
    width: var(--icon-s-size);
    height: var(--icon-s-size);
}

.size_m {
    width: var(--icon-m-size);
    height: var(--icon-m-size);
}

.size_l {
    width: var(--icon-l-size);
    height: var(--icon-l-size);
}

.size_xl {
    width: var(--icon-xl-size);
    height: var(--icon-xl-size);
}