.AppLink {
    color: var(--primary-color);
    transition: 0.3s ease all;

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    color: var(--inverted-primary-color);
}

.secondary {
    color: var(--inverted-secondary-color);
}